
@font-face {
    font-family: 'Karla';
    src: url('Karla-Regular.eot');
    src: url('Karla-Regular.eot?#iefix') format('embedded-opentype'),
        url('Karla-Regular.woff') format('woff'),
        url('Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Karla';
    src: url('Karla-Bold.eot');
    src: url('Karla-Bold.eot?#iefix') format('embedded-opentype'),
        url('Karla-Bold.woff') format('woff'),
        url('Karla-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Regular.eot');
    src: url('Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Regular.woff') format('woff'),
        url('Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('Raleway-ExtraBold.eot');
    src: url('Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Raleway-ExtraBold.woff') format('woff'),
        url('Raleway-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
.red{
    background-color: red;
}
.back{
    background-color: coral;
}
.white{
    background-color: green;
}
.mist{
    background-color: mistyrose;
}
.Padding0{
    padding-left: 0;
    padding-right: 0;
}
.header{
	background-color: #1f2629;
	color: #778186;
	padding:15px 0;
    width: 100%;
}
.header address{
	margin-bottom: 0;
    text-align: right;
}
.header span{
	color: #717f85;
}
.navigation{
	background-color: #fff;
	/*padding: 39px 0;*/
	font-size: 14.5px;
	font-family: 'Karla', sans-serif;
}
.navigation img{
	margin:24px 0;
}
.navigation nav{
	line-height: 83px;
	padding-top: 0;
	padding-bottom: 0;
	height:83px;
	text-transform: uppercase;
}
.navigation  ul li{
	display: inline-block;
	margin-bottom: 0;
}
.navigation ul li a{
	text-decoration: none;
	margin-left: 30px;
	color: #93a1a7;
}
.navigation ul li a:hover{
	color: #23282f;
}
.navigation ul li:first-child a{
	margin-left: 0; 
}



.Banner{
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: center;
    height: 750px;
}
.banner-content{/*
	padding-top: 295px;
	padding-bottom: 190px;*/
    padding-top: 24%;
	color: #fff;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}
.Banner .banner-content .banner-subheader{
	font-size: 24px;
}
.Banner .banner-content .banner-header{
	font-weight: bolder;
	font-size: 60px;
}
.banner-button{
    font-family: 'Karla', sans-serif;
    width: 140px;
    height: 50px;
    border-radius: 5px;
    outline:none;
    border:none;
    background-color: #29c2e1;
    margin-top: 27px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.banner-form{
    width: 100%;
    height: 90px;
    background-color: rgba(0,0,0,0.5);
    /*vertical-align: middle;*/
    text-align: center;
    bottom:0;
    top: 170px;
    left: 0;
    right: 0;
    vertical-align: middle;
    border-radius: 5px;
    position: absolute;
}
.form-header{
    font-family: "Raleway-ExtraBold", sans-serif;
    font-size: 22px;
}
.form-span{
    background-color: #f7941d;
    vertical-align: middle;
    font-size: 12px;
}
.banner-form form{
    margin: auto;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    font-family: 'Karla',sans-serif;
}
.form-text{
    margin-top: 20px;
    vertical-align: middle;
    display: inline-block;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    font-family: "Raleway",sans-serif;
    font-weight: bolder;
}
.form-text:before{
    content: "";
    font-size: 0;
    display: inline-block;
    width: 5px;
    height: 35px;
    background-color: #f7941d;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.banner-form form input ,select{
    width: 320px;
    height: 45px;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    margin-top: 15px;
    font-size: 13px;
}
.banner-form form [type=submit]{
    width: 190px;
    height: 45px;
    background-color: #f7941d;
    color: #fff;
    text-transform: uppercase;
    padding-left: 0;
}
.banner-form form span{
    color: #fff;
    font-size: 18px;
    padding: 0 20px;
}



.section-padding{
    padding: 100px 0 32px 0;
}
.services{
    background-color: #e5eef0;

}
.section-header span{
    font-size: 13px;
    padding:2px 5px;
    background-color: #f7941d;
    color: #fff;
    font-family: "Raleway-Regular",sans-serif;
}
.section-header h3{
    font-family: :"Raleway-ExtraBold",sans-serif;
    font-size: 25px;
    color: #23282f ;
}
.imageDiv{
    margin:0 auto;
    overflow: hidden;
    height: 308px;
    padding: 0;
}
.imageDiv::after{
    content: "";
    font-size: 0;
    background-color: #e5eef0;
    height: 240px;
    width: 558px;
    margin:auto;
    margin-top: 34px;
    display: block;
}
.imageDiv img{
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 308px;
}

.we-are-section-text{
    font-family: "opensans", sans-serif;
    font-size: 14px;
    color: #55595f;
}
.we-are-section-right{
    margin: 40px 0;
    position: relative;
    padding-bottom: 60px;
}
.we-are-button{
    font-family: "Karla-Bold",sans-serif;
    font-size: 14px;
    background-color: #f7941d;
    color: #fff;
    border:none;
    width: 125px;
    height: 43px;
    position: absolute;
    bottom: 0;    border-radius: 2px;
    font-size: 14px;
    margin-top: 30px;
}
.media{
    margin-bottom:68px; 
}
.media .media-image{
    filter: invert(800%);
    border:1px solid #fff;
    padding:10px;
    background-color: green;
    transition:3000ms;
} 
.media .media-image:hover{
    filter: invert(0);
    background-color: #29c2e1;
    border:1px solid green;
}


.clients-section{
    background-color: #f7941d;
}
.section-different-1 i{
    border:1px solid #fff;
    border-radius: 50%;
    padding:10px;
    font-size: 18px;
    color: #fff;
}
.section-different-1 span{
    font-size: 13px;
    padding:2px 5px;
    color: #fff;
    font-family: "Raleway-Regular",sans-serif;
    background-color: #23282f;
}
.client-section-text p{
    font-size: 15px;
    padding:20px;
    position: relative;
}
.client-section-text i{
    display: inline-block;
    float: left;
}
.client-section-text .I-tag-second{
    float: right;
}
.client-section-article{
    font-size: 15px;
    font-family: 'lora', sans-serif;
}
.article-autor-first{
    font-size: 15px;
    padding-top: 20px;
    font-family: 'Karla-Regular';
}
.article-autor-second{
    font-size: 15px;
    font-family: 'Karla-Bold';
    font-weight: bolder;
}

.bee-wax{
    position: relative;
}

 .bee-wax-first-row{
    position: relative;
    margin:auto;
}
.bee-wax-second-row{
    position: relative;
    top:-10px;
}
.OuterShape{
    width: 54px;
    height: 60px;
    overflow: hidden;
    transform:rotate(120deg);
    visibility: hidden;
    margin:auto;
    display: inline-block;
}
.InnerShape{
    display: inline-block;
    width:100%;
    height: 100%;
    transform: rotate(-60deg);

    overflow: hidden;
}
.hexagon-image{
    width: 100%;
    height: 100%;
    background-image: url(images/hexagonBack.jpg);
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-60deg);
    visibility: visible;
}

.articles {
    border:1px solid gray;
    height: 68px;
    width: 260px;
    position: relative;
    text-align: center;
}
.article-header{
    position: relative;
    top: 50%;
    left: 50%;
    transform:translateX(-50%);
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    color: #23282f;
    font-weight: bolder;

}
.articles:after{
    position: absolute;
    content: "";
    display: block;
    width: 38px;
    height: 2px;
    background-color: #f7941d;
    bottom:-1px;
    left: 97px;
}

.Subheader{
    position: absolute;
    line-height: 20px;
}






@media (max-width:1200px){
    .banner-form form input{
        max-width: 250px;
    }
    .form-header{
        font-family: "Raleway-ExtraBold", sans-serif;
        font-size: 20px;
    }
    .form-span{
        font-size: 8px;
    }
    .banner-form form span{
        padding:0 15px;
    }
}


@media (max-width:980px){
    .banner-form form input{
        max-width: 200px;
    }
    .form-header{
        font-family: "Raleway-ExtraBold", sans-serif;
        font-size: 15px;
    }
    .form-span{
        font-size: 8px;
    }
    .banner-form form span{
        padding:0 10px;
    }
.banner-form form [type=submit]{
    width: 190px;
    height: 45px;
    background-color: #f7941d;
    color: #fff;
    text-transform: uppercase;
    padding-left: 0;
}
}